@import url(https://fonts.googleapis.com/css?family=Spectral:300,400,500,700&subset=latin-ext);.icon {
  display: inline-block;
  height: 40px;
  width: 40px; }
  .icon::before, .icon::after {
    content: ""; }
  .icon:before {
    content: "i";
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold; }
  .icon--info {
    display: inline-block;
    height: 40px;
    width: 40px; }
    .icon--info::before, .icon--info::after {
      content: ""; }
    .icon--info:before {
      content: "i";
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      font-weight: bold; }

@-webkit-keyframes animation {
  0% { }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@keyframes animation {
  0% { }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

*,
*::after,
*::before {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes sceneProgress {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@keyframes sceneProgress {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

.cssanime__scene-trigger--1 {
  display: none; }
  .cssanime__scene-trigger--1:checked ~ .cssanime__controls label[for="scene_1"]:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    background: #cb0047;
    z-index: -1;
    -webkit-animation: sceneProgress 5s linear 1 forwards;
            animation: sceneProgress 5s linear 1 forwards; }

body {
  background: url(../assets/namek.png) center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh; }

.energy-stuff {
  display: block;
  position: absolute;
  background: white;
  border-radius: 50%;
  transition: opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), -webkit-transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35);
  transition: transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35);
  transition: transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), -webkit-transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35); }

.energy-stuff-0 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(529px) translateY(-497px);
          transform: translateX(529px) translateY(-497px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-1 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(286px) translateY(608px);
          transform: translateX(286px) translateY(608px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-2 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-134px) translateY(-60px);
          transform: translateX(-134px) translateY(-60px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-3 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-666px) translateY(367px);
          transform: translateX(-666px) translateY(367px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-4 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(417px) translateY(382px);
          transform: translateX(417px) translateY(382px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-5 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-97px) translateY(-188px);
          transform: translateX(-97px) translateY(-188px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-6 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-462px) translateY(628px);
          transform: translateX(-462px) translateY(628px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-7 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(149px) translateY(433px);
          transform: translateX(149px) translateY(433px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-8 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(161px) translateY(363px);
          transform: translateX(161px) translateY(363px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-9 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-198px) translateY(87px);
          transform: translateX(-198px) translateY(87px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-10 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-116px) translateY(93px);
          transform: translateX(-116px) translateY(93px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-11 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-361px) translateY(-463px);
          transform: translateX(-361px) translateY(-463px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-12 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-337px) translateY(523px);
          transform: translateX(-337px) translateY(523px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-13 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-325px) translateY(10px);
          transform: translateX(-325px) translateY(10px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-14 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(256px) translateY(-499px);
          transform: translateX(256px) translateY(-499px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-15 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(367px) translateY(-658px);
          transform: translateX(367px) translateY(-658px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-16 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-197px) translateY(-495px);
          transform: translateX(-197px) translateY(-495px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-17 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(422px) translateY(-613px);
          transform: translateX(422px) translateY(-613px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-18 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-213px) translateY(-328px);
          transform: translateX(-213px) translateY(-328px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-19 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(155px) translateY(-491px);
          transform: translateX(155px) translateY(-491px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-20 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-159px) translateY(325px);
          transform: translateX(-159px) translateY(325px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-21 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(501px) translateY(72px);
          transform: translateX(501px) translateY(72px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-22 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(494px) translateY(287px);
          transform: translateX(494px) translateY(287px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-23 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-323px) translateY(83px);
          transform: translateX(-323px) translateY(83px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-24 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(16px) translateY(578px);
          transform: translateX(16px) translateY(578px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-25 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-548px) translateY(-653px);
          transform: translateX(-548px) translateY(-653px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-26 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(496px) translateY(689px);
          transform: translateX(496px) translateY(689px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-27 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-675px) translateY(376px);
          transform: translateX(-675px) translateY(376px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-28 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(151px) translateY(274px);
          transform: translateX(151px) translateY(274px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-29 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(94px) translateY(-271px);
          transform: translateX(94px) translateY(-271px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-30 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(70px) translateY(-694px);
          transform: translateX(70px) translateY(-694px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-31 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-207px) translateY(109px);
          transform: translateX(-207px) translateY(109px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-32 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(517px) translateY(-452px);
          transform: translateX(517px) translateY(-452px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-33 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-437px) translateY(-383px);
          transform: translateX(-437px) translateY(-383px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-34 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(284px) translateY(462px);
          transform: translateX(284px) translateY(462px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-35 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(85px) translateY(-275px);
          transform: translateX(85px) translateY(-275px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-36 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(143px) translateY(-358px);
          transform: translateX(143px) translateY(-358px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-37 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-11px) translateY(-31px);
          transform: translateX(-11px) translateY(-31px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-38 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-255px) translateY(-416px);
          transform: translateX(-255px) translateY(-416px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-39 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-454px) translateY(-636px);
          transform: translateX(-454px) translateY(-636px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-40 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-245px) translateY(-47px);
          transform: translateX(-245px) translateY(-47px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-41 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(216px) translateY(655px);
          transform: translateX(216px) translateY(655px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-42 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(37px) translateY(-533px);
          transform: translateX(37px) translateY(-533px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-43 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(538px) translateY(209px);
          transform: translateX(538px) translateY(209px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-44 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(516px) translateY(529px);
          transform: translateX(516px) translateY(529px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-45 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-7px) translateY(-471px);
          transform: translateX(-7px) translateY(-471px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-46 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-401px) translateY(397px);
          transform: translateX(-401px) translateY(397px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-47 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(83px) translateY(658px);
          transform: translateX(83px) translateY(658px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-48 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-432px) translateY(698px);
          transform: translateX(-432px) translateY(698px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-49 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-373px) translateY(391px);
          transform: translateX(-373px) translateY(391px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-50 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(351px) translateY(78px);
          transform: translateX(351px) translateY(78px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-51 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(340px) translateY(550px);
          transform: translateX(340px) translateY(550px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-52 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(636px) translateY(-368px);
          transform: translateX(636px) translateY(-368px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-53 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(106px) translateY(-253px);
          transform: translateX(106px) translateY(-253px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-54 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(566px) translateY(-119px);
          transform: translateX(566px) translateY(-119px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-55 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-611px) translateY(-700px);
          transform: translateX(-611px) translateY(-700px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-56 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(310px) translateY(-202px);
          transform: translateX(310px) translateY(-202px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-57 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-262px) translateY(628px);
          transform: translateX(-262px) translateY(628px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-58 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-171px) translateY(-445px);
          transform: translateX(-171px) translateY(-445px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-59 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(315px) translateY(352px);
          transform: translateX(315px) translateY(352px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-60 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-108px) translateY(-104px);
          transform: translateX(-108px) translateY(-104px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-61 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-528px) translateY(-184px);
          transform: translateX(-528px) translateY(-184px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-62 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(670px) translateY(147px);
          transform: translateX(670px) translateY(147px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-63 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-107px) translateY(503px);
          transform: translateX(-107px) translateY(503px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-64 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(686px) translateY(-304px);
          transform: translateX(686px) translateY(-304px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-65 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-570px) translateY(-192px);
          transform: translateX(-570px) translateY(-192px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-66 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-36px) translateY(-94px);
          transform: translateX(-36px) translateY(-94px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-67 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-641px) translateY(-114px);
          transform: translateX(-641px) translateY(-114px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-68 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-282px) translateY(688px);
          transform: translateX(-282px) translateY(688px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-69 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(137px) translateY(-53px);
          transform: translateX(137px) translateY(-53px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-70 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(219px) translateY(-273px);
          transform: translateX(219px) translateY(-273px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-71 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-96px) translateY(-390px);
          transform: translateX(-96px) translateY(-390px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-72 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-114px) translateY(48px);
          transform: translateX(-114px) translateY(48px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-73 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(594px) translateY(355px);
          transform: translateX(594px) translateY(355px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-74 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(437px) translateY(-405px);
          transform: translateX(437px) translateY(-405px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-75 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-110px) translateY(666px);
          transform: translateX(-110px) translateY(666px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-76 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(6px) translateY(-693px);
          transform: translateX(6px) translateY(-693px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-77 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-530px) translateY(97px);
          transform: translateX(-530px) translateY(97px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-78 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(322px) translateY(-447px);
          transform: translateX(322px) translateY(-447px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-79 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-562px) translateY(-368px);
          transform: translateX(-562px) translateY(-368px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-80 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(105px) translateY(444px);
          transform: translateX(105px) translateY(444px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-81 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(404px) translateY(-234px);
          transform: translateX(404px) translateY(-234px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-82 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(189px) translateY(-638px);
          transform: translateX(189px) translateY(-638px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-83 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(600px) translateY(-397px);
          transform: translateX(600px) translateY(-397px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-84 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-49px) translateY(-117px);
          transform: translateX(-49px) translateY(-117px);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5); }

.energy-stuff-85 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-274px) translateY(-9px);
          transform: translateX(-274px) translateY(-9px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-86 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-570px) translateY(-693px);
          transform: translateX(-570px) translateY(-693px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-87 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-323px) translateY(-367px);
          transform: translateX(-323px) translateY(-367px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-88 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(589px) translateY(-479px);
          transform: translateX(589px) translateY(-479px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-89 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(624px) translateY(269px);
          transform: translateX(624px) translateY(269px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-90 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(240px) translateY(-403px);
          transform: translateX(240px) translateY(-403px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-91 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-511px) translateY(-686px);
          transform: translateX(-511px) translateY(-686px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-92 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-552px) translateY(-121px);
          transform: translateX(-552px) translateY(-121px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-93 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(362px) translateY(534px);
          transform: translateX(362px) translateY(534px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.energy-stuff-94 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-513px) translateY(-345px);
          transform: translateX(-513px) translateY(-345px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-95 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-438px) translateY(407px);
          transform: translateX(-438px) translateY(407px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-96 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-188px) translateY(350px);
          transform: translateX(-188px) translateY(350px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-97 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-47px) translateY(169px);
          transform: translateX(-47px) translateY(169px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-98 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(462px) translateY(-301px);
          transform: translateX(462px) translateY(-301px);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5); }

.energy-stuff-99 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-315px) translateY(260px);
          transform: translateX(-315px) translateY(260px);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5); }

.energy-stuff-100 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(9px) translateY(-534px);
          transform: translateX(9px) translateY(-534px);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5); }

.cssanime__scene-trigger--1:checked ~ .goku {
  -webkit-animation: zoomGokuOut 2s ease-in-out 5s 1 forwards;
          animation: zoomGokuOut 2s ease-in-out 5s 1 forwards; }
  .cssanime__scene-trigger--1:checked ~ .goku .goku__spirit-bomb {
    -webkit-animation: float 3s ease-in-out infinite alternate, glow 5s ease-in-out infinite alternate, grow 8s cubic-bezier(0.05, 1.34, 0.78, -0.35) 1 forwards;
            animation: float 3s ease-in-out infinite alternate, glow 5s ease-in-out infinite alternate, grow 8s cubic-bezier(0.05, 1.34, 0.78, -0.35) 1 forwards; }
  .cssanime__scene-trigger--1:checked ~ .goku .energy-stuff {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0; }

.cssanime__scene-trigger--1:checked ~ .dialogue .dialogue-box--goku {
  -webkit-animation: fadeIn 1s ease-in-out 10.5s forwards;
          animation: fadeIn 1s ease-in-out 10.5s forwards; }

.cssanime__scene-trigger--1:checked ~ .dialogue .dialogue-box--gohan {
  -webkit-animation: fadeIn 1s ease-in-out 11s forwards;
          animation: fadeIn 1s ease-in-out 11s forwards; }

.cssanime__scene-trigger--1:checked ~ .dialogue .dialogue-box--piccolo {
  -webkit-animation: fadeIn 1s ease-in-out 12s forwards;
          animation: fadeIn 1s ease-in-out 12s forwards; }

.cssanime__scene-trigger--1:checked ~ .dialogue .character--piccolo {
  -webkit-animation: scaleUp 5s linear 12s forwards;
          animation: scaleUp 5s linear 12s forwards; }

.cssanime__scene-trigger--1:checked ~ .dialogue .character--gohan {
  -webkit-animation: moveLeft 5s linear 11s forwards;
          animation: moveLeft 5s linear 11s forwards; }

.cssanime__scene-trigger--1:checked ~ .dialogue .character--krillin {
  -webkit-animation: moveRight 5s linear 11s forwards;
          animation: moveRight 5s linear 11s forwards; }

.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 40px;
  overflow: hidden;
  text-align: center;
  padding: 10px; }
  .modal__video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; }
    .modal__video iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  .modal__title {
    font-size: 2em;
    color: white;
    margin: 0; }
  .modal__description {
    color: white;
    margin-top: 20px; }
  .modal__button {
    display: inline-block;
    background: #79e2fa;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px; }

.goku {
  position: fixed;
  left: 40%;
  bottom: 100px;
  width: 10%;
  min-width: 200px; }
  .goku__body {
    max-width: 100%;
    height: auto;
    -webkit-animation: float 3s ease-in-out infinite alternate;
            animation: float 3s ease-in-out infinite alternate; }
  .goku__spirit-bomb {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    display: inline-block;
    top: -400px;
    background-image: radial-gradient(#faf7ff 0%, #faf7ff 17%, #90e7fe 28%, #90e7fe 70%, #79e2fa 100%);
    border: 10px solid #baf3fe;
    border-radius: 100%;
    text-indent: -9999px;
    word-wrap: nowrap;
    -webkit-animation: float 8s ease-in-out infinite alternate,  glow 5s ease-in-out infinite alternate;
            animation: float 8s ease-in-out infinite alternate,  glow 5s ease-in-out infinite alternate;
    box-shadow: 0 0 14px 2px #baf3fe, 0 0 9px 10px #b7f3fe; }
  .goku__spirit-bomb-energy {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: -200px;
    -webkit-animation: opacityChange 2s ease-in-out infinite alternate;
            animation: opacityChange 2s ease-in-out infinite alternate; }

@-webkit-keyframes opacityChange {
  from {
    opacity: 0.75; }
  to {
    opacity: 1; } }

@keyframes opacityChange {
  from {
    opacity: 0.75; }
  to {
    opacity: 1; } }

@-webkit-keyframes grow {
  0% {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px; }
  60% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px; }
  80% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: -400px; }
  100% {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: -800px; } }

@keyframes grow {
  0% {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px; }
  60% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px; }
  80% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: -400px; }
  100% {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: -800px; } }

@-webkit-keyframes float {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }

@keyframes float {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6); }
  to {
    box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6); } }

@keyframes glow {
  from {
    box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6); }
  to {
    box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6); } }

@-webkit-keyframes energyGlow {
  from {
    box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6); }
  to {
    box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6); } }

@keyframes energyGlow {
  from {
    box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6); }
  to {
    box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6); } }

@-webkit-keyframes zoomGokuOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    -webkit-transform: scale(0.6);
            transform: scale(0.6); } }

@keyframes zoomGokuOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    -webkit-transform: scale(0.6);
            transform: scale(0.6); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.dialogue {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: none; }

.dialogue-box {
  position: relative;
  overflow: hidden;
  opacity: 0; }
  .dialogue-box h2 {
    font-weight: 900;
    text-transform: uppercase; }
  .dialogue-box--goku {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    background: white;
    bottom: 0;
    border-right: 20px solid black;
    background: url(../assets/goku-spirit-bomb.png) center center no-repeat;
    background-size: cover; }
    .dialogue-box--goku h2 {
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 50px;
      color: black;
      font-size: 79px;
      color: white;
      text-shadow: 1px 1px 3px black; }
  .dialogue-box--gohan {
    position: absolute;
    left: 50%;
    top: 0;
    height: 50%;
    right: 0;
    border-bottom: 20px solid black;
    background: #b5d873;
    background: url(../assets/namek-bg2.jpg) center center no-repeat;
    background-size: 120%; }
    .dialogue-box--gohan h2 {
      position: absolute;
      z-index: 10;
      right: 20px;
      bottom: 20px;
      color: black;
      font-size: 79px;
      color: white;
      text-shadow: 1px 1px 3px black; }
  .dialogue-box--piccolo {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50%;
    right: 0;
    background: #b5d873;
    background: url(../assets/namek-bg2.jpg) center center no-repeat;
    background-size: 140%; }
    .dialogue-box--piccolo h2 {
      position: absolute;
      z-index: 10;
      right: 20px;
      top: 20px;
      color: black;
      font-size: 79px;
      color: white;
      text-shadow: 1px 1px 3px black; }

.character {
  display: block;
  width: 200px; }
  .character--gohan {
    width: 45%;
    position: relative;
    top: 30px;
    left: 5vh;
    z-index: 2;
    display: inline-block;
    vertical-align: top; }
  .character--krillin {
    width: 45%;
    position: relative;
    top: 80px;
    left: 5vh;
    z-index: 2;
    display: inline-block;
    vertical-align: top; }
  .character--piccolo {
    width: 45%;
    position: relative;
    top: 80px;
    left: 5vh;
    z-index: 2;
    display: inline-block;
    vertical-align: top; }

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }

@keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }

@-webkit-keyframes moveRight {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(10%);
            transform: translateX(10%); } }

@keyframes moveRight {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(10%);
            transform: translateX(10%); } }

@-webkit-keyframes moveLeft {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); } }

@keyframes moveLeft {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); } }

body {
  font-family: 'Spectral', serif; }

.cssanime__scene-trigger {
  display: none; }
  .cssanime__scene-trigger--0:checked ~ .cssanime__controls label:first-of-type {
    background-color: #000000; }

.cssanime__controls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  z-index: 100;
  border-bottom: 1px solid #606060;
  background-color: #3a3a3a; }
  .cssanime__controls label {
    position: relative;
    cursor: pointer;
    flex-grow: 1;
    display: block;
    height: 40px;
    color: white;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #606060;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    overflow: hidden; }
    .cssanime__controls label:before {
      content: ""; }
    .cssanime__controls label:hover {
      background-color: rgba(255, 255, 255, 0.1); }

.cssanime__episode__title {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold; }

.cssanime__episode__description {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.3; }

.cssanime__episode__button {
  color: #cb0047;
  text-decoration: none; }

.cssanime__episode-info > input {
  display: none; }
  .cssanime__episode-info > input:checked + label {
    background: black; }
  .cssanime__episode-info > input:checked ~ .cssanime__episode-info-box {
    display: block; }

.cssanime__episode-info__trigger {
  display: block;
  width: 40px;
  height: 40px; }

.cssanime__episode-info-box {
  position: absolute;
  width: 300px;
  padding: 20px;
  background: #1b1b1b;
  top: 40px;
  color: white;
  display: none;
  border: 1px solid #606060; }
